@import 'mixins';

.page_about{
	justify-content: space-between; 
    align-items: center;
    .overlay{
		z-index: 2;
		background-color: rgba(0, 0, 0, 0.8);
	}
}
.aboutus{
	width: 90%;
	color: black;
	border-radius: 1%;	
	background-color: rgba(200, 200, 200, 1);
	z-index:2;
	position: absolute;
  	margin: auto;
  	left: 0;
  	right: 0;
	padding: 0;
	.close-button{
		background:transparent;
		border : none;
		padding: 0;
		position: absolute;
		right: 0;
    	margin: 3px;
    	z-index: 3;
		img{
			border-radius: 16px;
		}
	}

	.membersList {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
	    margin: 12px;
	    height: 73%;
	}
	h1{
		position: relative;
		text-align: center;
		margin: auto;
	}
	p{
		text-align: center;
	    margin-bottom: 0;
    	margin-top: 2%;
	}
	.member{
		background-color: white;
		border-radius: 2%;	
	    display: flex;
	    flex-wrap: wrap;
       	justify-content: space-around;
		flex-basis: 45%;
	    margin: 2px;
    	padding: 5px;

		@include mobile {
			flex-basis: 90%;
		}
		img {
			width: 75px;
			height: 75px;
			border-radius: 50%;
		}
		.membertxt{
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 73%;
			text-align: center;
		}
	}
}



