@import 'mixins';

.page_about{
	justify-content: space-between; 
    align-items: center;
    .overlay{
		background-color: rgba(0, 0, 0, 0.8);
	}
}
.aboutus{
	width: 82%;
	color: black;
	border-radius: 1%;	
	background-color:f3f3f3;
	z-index:5;
	position: absolute;
  	margin: auto;
  	left: 0;
  	right: 0;
  	bottom: 0;
	transform: translateY(84%);
	padding-top:15;
	
	@include mobile {
			margin-bottom:-500px;
	}
	
	
	.close-button{
		background:transparent;
		border : none;
		padding: 0;
		position: absolute;
		right:1px;
    	margin: 3px;
    	z-index: 3;
		top:1px;
		
		img{
			border-radius: 16px;
		}
	}
	
	.close-button:hover{
		filter: brightness(60%);
		border : 0px transparent white; 
	}

	.membersList {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
	    margin: 12px;
	    height: 73%;
	}
	h1{
		position: relative;
		text-align: center;
		margin: auto;
		font-family: 'Montserrat';
		font-weight: 300;
	}
	p{
		text-align: center;
	    margin-bottom: 0;
    	margin-top: 2%;
	}
	.member{
		background-color: white;
		border-radius: 2%;	
	    display: flex;
	    flex-wrap: wrap;
       	justify-content: space-around;
		flex-basis: 35%;
	    margin: 8px;
    	padding: 5px;

		@include mobile {
			flex-basis: 50%;
		}
		img {
			width: 75px;
			height: 75px;
			border-radius: 50%;
		}
		.membertxt{
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 73%;
			text-align: center;
		}
	}
}



