@import 'mixins';
.page_about{
	justify-content: space-between; 
    align-items: center;
	button{
		background:transparent;
		border : none;
		position: absolute;
		margin: auto;
		z-index: 2;
   	  	right: 25%;
    	top: -2529%;
	}	
}
.aboutus{
	width: 90%;
	color: black;
	border-radius: 1%;
	background-color: rgba(200, 200, 200, 1);
	z-index:1;
	position: fixed;
  	margin: auto;
  	top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
	padding: 0%;
	height: 90%;

	.membersList {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
	}
	h1{
		position: relative;
		text-align: center;
		margin: auto;
	}
	p{
		text-align: center;
	    margin-bottom: 4%;
    	margin-top: 2%;
	}
	.member{
		display: flex;
		flex-direction: row;
    	background-color: white;
		border-radius: 2%;		
		flex-basis: 45%;

		@include mobile {
			flex-basis: 90%;
		}
		img {
			width: 75px;
			height: 75px;
			border-radius: 50%;
		}
		h4 {
			text-align: center;
	    	display: inline-block;
		}
		p{
	    	text-align: center;
	    	display: inline-block;
		}
	}
}



