.challenge-carrousel{
	background: deeppink;
    display: flex;
    flex-direction: column;
    align-items: center;
	.title{
		margin: 0;
	}
}
.challenge-container{
	button{
		background: transparent;
		border: none;
	}	  
	.img-profil{
		height: 150px;
		width: 150px;
		margin: 0;
	}
}