@import 'mixins';
#challenge_page{
    min-height: 85vh;
    .upload-btn{
        width: 120px;
        margin: 20px;
        box-shadow: 0.5px 0.5px 5px #555;
        border-radius: 50%;
        height: 120px;

    }
    .posts-container{
        padding: 0 0 4em 0;
		
    }
}


#challenge_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 300px;
    position: relative;
    .veil{
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.3);
    }
    .background_img{
    	height: 60vh;    	
    }
    .challenge_box__text{
    	position: absolute;
    	color: white;
	    text-shadow: 4px 1px 10px #000000;
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
        justify-content: space-around;
        z-index: 1;
        .title{
            margin: 0;
        }
        h4{
            margin: 0;
        }
        .challenge_box__time{
            font-family: Montserrat Light;
            border: 2px solid white;
            border-radius: 2px;
            padding: 2% 2% 2% 2%;
            width: 330px;
            background: rgba(0,0,0,0.6);
			font-family: 'Montserrat';
			font-weight: 300;
            h4{
                margin: 0;
            }
            h1{
                margin: 0;
            }
        }
    }
    .tag-btn{
    	width: 90px;
    	position: absolute;
    	right: 13px;
    	top: 64%;	
    }

}
@include mobile-por{
    #challenge_page{
        .upload-btn{
            
        }
    }
}  