.page_contact{
	justify-content: space-between; 
    align-items: center;
    .overlay{
		z-index: 2;
	}	
}
.contact{
	width: 90%;
	color: black;
	border-radius: 1%;
	background-color: rgba(200, 200, 200, 1);
	z-index:2;
	position: absolute;
  	margin: auto;
  	top: 62px;
  	left: 0;
  	right: 0;
	padding: 0;
	.close-aboutus{
		background:transparent;
		border : none;
		img{
			border-radius: 16px;
		}
	}
}


.field-contact{
	border : 1px solid grey;
	margin-top: 20px;
	margin-left:20px;
	width:80%;
	border-radius:5px;
	color:black
}


.field-contact-message{
	border : 1px solid grey;
	margin-top: 20px;
	margin-left:20px;
	width:80%;
	border-radius:5px;
	resize:vertical;
	outline:none;
	color:grey
}



.envoyer{
	border:1px solid grey;
	background-color:#CCCCCC;
	color:black;
	position:absolute;
	top:300px;
	right:5px;
	border-radius:5px;
	padding-left:30px;
	padding-right:30px;
	padding-top:3px;
	padding-bottom:3px;
	outline:none;
}


.envoyer:hover{
	border:1px solide grey;
	background-color:white;
}


.close-contact{
	background:transparent;
	border : none;
	position: relative;
	top: -36px;
    right: -100%;
	outline:none;
}


.text-top{
	margin-left:100px;
	color:black;
}