@import 'mixins';

.page_contact{
	justify-content: space-between; 
    align-items: center;
    .overlay{
		z-index: 2;
		background-color: rgba(0, 0, 0, 0.8);
	}	
}
.contact{
	width: 50%;
	display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
	color: black;
	border-radius: 1%;
	background-color: $pageBackgroundColor;
	z-index:2;
	position: fixed;
  	bottom: 20%;
  	left: 0;
  	right: 0;
	padding: 15px;
	margin: auto;
	@include mobile{
		width: 90%;
	}
	
	.text-top{
	font-family: 'Montserrat';
	font-weight: 300;
	margin-bottom:40px;
	}
	
	.close-button{
		background:transparent;
		border: none;
		padding: 0;
		position: absolute;
		right: 15px;
		img{
			border-radius: 16px;
		}
	}
	
	.close-button:hover{
		filter: brightness(60%);
		border : 0px transparent white; 
	}
	
	form{
		display: flex;
	    flex-wrap: wrap;
	    justify-content: space-around;
	    textarea{
	    	height: 100px;
	    	resize: none;
	    }
	}
	.form-btn{
	width: 25%;
	background-color: $blockBackgroundColor;
	color: $banniereColor;
    border: solid 2px gainsboro;
	}
}

.field-contact{
	font-family: 'Montserrat';
	font-weight: 300;
	border : 0;
	margin: 7px;
	width:80%;
	border-radius:5px;
	color:#a3a3a3;
	padding: 6px 12px;
}


.field-contact-message{
	border : 1px solid grey;
	margin-top: 20px;
	margin-left:20px;
	width:80%;
	border-radius:5px;
	resize:vertical;
	outline:none;
	color:grey
}

.send{
	border:1px solid grey;
	background-color:#CCCCCC;
	color:black;
	position:absolute;
	top:300px;
	right:5px;
	border-radius:5px;
	padding-left:30px;
	padding-right:30px;
	padding-top:3px;
	padding-bottom:3px;
	outline:none;
}


.envoyer:hover{
	border:1px solide grey;
	background-color:white;
}


.close-contact{
	background:transparent;
	border : none;
	position: relative;
	top: -36px;
    right: -100%;
	outline:none;
}
