footer{
	color:white;
}
	
.row {
  margin-right: -15px;
  margin-left: -15px;
}


.the_footer{
	background-color : $banniereColor;
	text-color : white;
	position: absolute;
	bottom:0;
	width:100%;
	padding-top:10px;
	height:40px;
}
 
a:link {
    color: white;
}


#btn {
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
	border-radius: px;
	font-family: Montserrat;
	font-size: 12px;
	padding: 5px 10px 5px 10px;
	position : relative;
	margin-top:-50px;
	left:50%
	
}

#btn:focus{
	ouline:0 !important;
}

#btn:hover:after{
 visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  outline:none;
}


#btn:after {
  content: "";
  position: absolute;
  width: 100%;
  height:1px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  outline:none;
}

.social-links{
background:red;
	
	
}