.social-links {
  
}
.social-links{
	
}



footer{
	color:white;
}
	
img {
    display: inline-block;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}


.the_footer{
	background-color : $banniereColor;
	text-color : white;
	position:absolute;
	bottom:0;
	width:100%;
	padding-top:10px;
	height:40px;
}
 

