.header {
    /* display: flex; */
    width: 100%;
	height:70px;
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
    /* align-items: center; */
    background-color: $banniereColor;
	
}

.search-bar {
    display: block;
    /* flex: auto; */
    /* flex-grow: 1; */
    /* flex-basis: 33%; */
}

.search-field {
    max-width: 150px;
	
}

.logo-area {
    display: block;
    /* flex: auto; */
    /* flex-grow: 1; */
    /* position: absolute; */
    /* left: 50%; */
    /* transform: translateX(-50%); */
    /* flex-basis: 33%; */

    h1 {
        /* margin: auto; */
        text-align: center;
        font-size: 2em;
        color: white;
        white-space:nowrap;
    }
}

.user-menu {
    display: block;
    height: 50px;
	

    .vignette {
        display: inline-block;
        height: 100%;
    }

    .user-menu-drop-down {
        background-color: white;
    }
    /* flex: auto; */
    /* flex-grow: 1; */
    /* flex-basis: 33%; */
}

input {
    outline: none;
}

.img-profil{
	border-radius: 50%;
	margin-top:2px;
	transition: transform 0.5s ease;

}

.img-profil:hover{

     transform:scale(1.15);
}

.tab-user{
display:none;
}

.img profil tab-user{
display:block;
}

.circle-back {
	position : relative;	
	margin-top:10px;
    display: block;
    width:100%;
    height: 110%;
	border-radius:50%;
    background-color:transparent;  
    text-align:center;
	border:2px solid white;
	z-index:2;
	
	
	
	
}

.search-form input[type=search]{
	
    background: #fff  url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
    width: 15px;
    padding: 3px 7px 7px 20px;
    padding-left: 10px;
    color: transparent;
    cursor: pointer;
    margin-top:20px;
	margin-left:20px;
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;

    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;
    
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;

    &:focus {
        width: 130px;
        padding-left: 32px;
        color: #000;
        background-color: #fff;
        cursor: auto;

        -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
        -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
        box-shadow: 0 0 5px rgba(109,207,246,.5);
    }

    &:hover{
        background-color: #fff;
    }
}

.table-user{
	background-color:blue;
}

.vignette{
	width:55px;
	border-radius: 50%;
	
	
	
}

.tab-user-menu{
	
	
	border-radius:5px;
	background-color:#E6E6E6;
	position:absolute;
	width:40%;
	right:60%;
	height:110px;
	top:5px;
	text-align:center;
	
	
	
	
}

@media screen and (max-width: 700px) {
   .access-profil{
		border-radius:20px;
}

.disconnect{
	font-size: 60%;
	 
}
}

.disconnect{
	width:70%;
	position: absolute;
    bottom: 10%;
	left:10%;
	
	border-radius: 6px;
	font-family: Arial;
	color: white;
	font-size: 13px;
	background: $banniereColor;
	padding: 5px 10px 5px 10px;
	text-decoration: none;
	 
}

.access-profil{
	position: absolute;
    bottom:55%;
	left:30%;
	
	
	border-radius: 6px;
	font-family: Arial;
	color: #170b17;
	font-size: 13px;
	background: #ffffff;
	padding: 5px 10px 5px 10px;
	text-decoration: none;
}