.header {
   display: flex; 
   
	height:70px;
    flex-direction: row; 
    flex-wrap: no-wrap; 
    justify-content:flex-start; 
    align-items: center; 
	text-align:middle;
    background-color: $banniereColor;
	
}

.search-bar {
    display: block;
     flex: auto; 
	flex-grow: 1; 
     flex-basis: 33%; 
}

.search-field {
    max-width: 150px;
	
}

.logo-area {
   /* display: block;*/
    margin-right:10%;
	
    flex-grow: 1; 
    /* position: absolute; */
     margin-left: 2px;
    /*transform: translateX(-50%); */
     flex-basis: 33%; 

    h1 {
         margin: auto; 
        text-align: center;
        font-size: 2em;
        color: white;
        white-space:nowrap;
    }
}

.user-menu {
	transform : scale(0.8);
	margin-right:-10%;

	
    display: block;
    height: 50px;
	flex: auto; 
    flex-grow: 1; 
    flex-basis: 33%; 

    .vignette {
        display: inline-block;
        height: 100%;
		width:20%;
		width:55px;
		border-radius: 50%;
		margin-top:-2px;
		margin-left:20%;
		
    }

    .user-menu-drop-down {
        background-color: white;
    }
    
}

input {
    outline: none;
}

.img-profil{
	border-radius: 50%;
	margin-top:2px;
	transition: transform 0.5s ease;

}

.img-profil:hover{

     transform:scale(1.15);
}



.img profil{
display:block;
}

.circle-back {

	/*margin-left:100%;*/
	margin-left: 50%;;

	position : relative;	
	
	/*left:800%;*/
    display: block;
    width:100%;
    height: 110%;
	border-radius:50%;
    background-color:transparent;  
    text-align:center;
	border:2px solid white;
	z-index:1;
	
	
}

.search-form input[type=search]{

	margin-left:20%;
	margin-top:1px;
	
    background: #fff  url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
    width: 15px;
    padding: 3px 7px 7px 20px;
    padding-left: 10px;
    color: transparent;
    cursor: pointer;
	
	
	
	
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;

     -webkit-border-radius: 12px; 
     -moz-border-radius: 12px;
	border-radius: 12px;
    
	border-radius : 1px solid white;
	
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;

    &:focus {
        width: 130px;
        padding-left: 32px;
        color: #000;
        background-color: #fff;
        cursor: auto;

        -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
        -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
        box-shadow: 0 0 5px rgba(109,207,246,.5);
    }

    &:hover{
        background-color: #fff;
		z-index:1;
		
		
    }
}

.table-user{
	background-color:blue;
}


.tab-user-menu{
	/*transform:scale(1.2);*/
	
	border-radius:5px;
	background-color:#E6E6E6;
	position:absolute;
	
	left:65%;
	width:20px;
	height:100px;
	top:2px;
	text-align:center;
	
	
	
	
}



.disconnect{
	width:80%;
	position: absolute;
    bottom: 10%;
	left:10%;
		
	border-radius: 6px;
	font-family: Arial;
	color: white;
	font-size: 13px;
	font-family: Montserrat;
	background: $banniereColor;
	padding: 5px 10px 5px 10px;
	text-decoration: none;
	
	
	
	 
}

.access-profil{
	position: absolute;
    bottom:55%;
	left:30%;
	font-family: Montserrat;
	
	border-radius: 6px;
	font-family: Arial;
	color: #170b17;
	font-size: 13px;
	font-family: Montserrat;
	background: #ffffff;
	padding: 5px 10px 5px 10px;
	text-decoration: none;
}

@media screen and (max-width: 1400px) {
	
	
   .tab-user-menu{ 
		
		top:-60px;
		width:90px;
		margin-left:-40%;
		position:relative;

    }
	.access-profil{
	display:none;
	
	}
	
	.disconnect{
		width:75%;
		font-size:8px;
	}
}

@media screen and (max-width: 740px) {
	.header{
	text-align:middle;
	}

	.search-form input[type=search]{
		position:relative;
		margin-bottom:80px;
		margin-left:10%;
	}

	.logo-area{
		position:absolute;
		margin-left:25%;
		font-size:12px;
		/*display:absolute;*/
		
	}
	.search-bar{
		margin-top:80px;
	}
	
	.disconnect{
		margin-bottom:-5px;
		width:70%;
		font-size:6px;
	}
	
	.user-menu {
		margin-bottom:5px;
		width:50px;
		margin-right:-80px;
	
	}
}