@import 'mixins';
.header {
	display: flex; 
	flex-direction: row;
	flex-wrap: wrap;
	height:70px;
	text-align: center;
    align-items: center; 
 	background-color: $banniereColor;
 	justify-content: space-around;
}
.search-bar {
	width: 40px;
	form{
		margin: 0;
	}
	input[type=text] {
	background-image: url('./../img/icons/search-icon.png');
    background-size: 40px 40px; 
    background-repeat: no-repeat;
    cursor: pointer;
	color:white;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    border-color: white;
    height: 38px;
    background-color: transparent;
	padding-left: 50px;
	width:50px;

	
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    
	}
    input[type=text]:focus {
        padding-left: 40px;
        background-color: rgba(0,0,0,0.1);
        cursor: auto;
		border-left:10%;
		
        -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
        -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
        box-shadow: 0 0 5px rgba(109,207,246,.5);
		
		width:150px
		
    }
    input[type=text]:hover{
        background-color: rgba(0,0,0,0.1);
		z-index:1;
		color:white;
    }
}
.tab-user-menu-box{
	position: relative;
    right: 35px;
    top: -56px;
    z-index: 2;
	.tab-user-menu{
		border-radius: 4px;
	    background-color: #E6E6E6;
	    position: absolute;
	    width: 117px;
	    height: 105px;
	    text-align: center;
	    display: flex;
	    align-items: flex-end;
	    justify-content: center;
	    padding: 6px;
		
		font-family: 'Montserrat';
		font-weight: 300;
	}
	.disconnect{
		height:24px;	
		border-radius: 6px;
		color: white;
		font-size: 12px;
		background: $orange;
		padding: 5px 10px 5px 10px;
		text-align: center; 
	}
}
.logo-area {
    h1 {
		font-family: 'Montserrat';
		font-weight: 300;
        text-align: center;
        font-size: 2em;
        color: white;
        white-space:nowrap;
        margin: 0;
    }
	
	@media screen and (max-width: 480px) {
    h1 {
		
       font-size: 20px;
    }
}
}

.img-profil{
	border-radius: 50%;
	transition: transform 0.5s ease;

}

.img-profil:hover{
     transform:scale(1.05);
}
.circle-back {
	position : relative;	
    width:50px;
    height: 50px;
	border-radius:50%;
    background-color:transparent;  
    text-align:center;
	border:2px solid white;
	z-index:3;
}

