@import '_form';
@import '_utility';

#login_box{
	position: absolute;
	top: 5%;
	left: 3%;
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 5px;
	text-align: center;
	padding : 2%;
	.title{
		padding-bottom: 10%;
	}
	.submit {
		background-color: $banniereColor;
		color: rgb(255,255,255);
		width: 100%;
		padding: 2%;
		margin-top: 8%;
		border-style: none;	
	}
	.button{
		border-style: none;
		width: 100%;
		margin-bottom: 20px;
		color: $banniereColor;	
	}
	p{
		margin: 4%;
		margin-top: -2%;
	}	
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	
}

.blur{
	-webkit-filter: blur(1px);
	-moz-filter: blur(1px);
	-o-filter: blur(1px);
	-ms-filter: blur(1px);
	filter: blur(1px);
}

.artist {
	position: absolute;
	bottom: 0px;
	right: 20px;
	p{
		color: #fff;
		font-size: 1em;
}
	

}