@import '_form';
@import '_utility';

#login_box{
	position: absolute;
	top: 5%;
	left: 3%;
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 5px;
	text-align: center;

	h2{
		font-family: sans-serif;
	}
}


.blur{
	-webkit-filter: blur(1px);
	-moz-filter: blur(1px);
	-o-filter: blur(1px);
	-ms-filter: blur(1px);
	filter: blur(1px);
}