@import 'mixins';
#profil{
	display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
	
	.wrapper-profile-editor{
		.submit{
		
			color: #333;
			background-color: white;
			border-color: #ccc;
			height: 25px;
			width: 125%;
			border-radius: 0px 0px 20px 20px;
			display: block;
			margin-left: -20%;

			@include mobile-por{
				margin-bottom: 11px;
			}
		}
		
		.submit:hover{
			background-color:$blueNight;
			color:white;
			cursor:pointer;
			font-weight: 300;
		}
	}
	#profile-editor{
		@include mobile-por{
				margin-bottom: 18px;
			}
		.buttons-editor{
			.tag-btn{

				background-color: $blueNight;
				color: $blockBackgroundColor;
			}
			.tag-btn:hover{
				background-color: $blockBackgroundColor;
				color: $blueNight;
			}
		}
		form{	
			.description{
				background-color: #f0f8ff;
			}
			.up-content-file{
				margin: 0;
				label {
					color: #a3a3a3;
				    font-weight: 300;
				    font-size: 14px;
				    background-color: #f0f8ff;
				}
				label:hover {
					font-weight: 400;
					background-color: #f0f8ff;
					color: #a3a3a3;
				}
			}
		}
	}
	
    .overlay{
		z-index: 0;
	}

	#profil_box{
		width : 50%;
		margin: 2em;
		padding:0.5em;
		background-color: $blockBackgroundColor;
		display: flex;
		align-items: center;
		justify-content: space-around;
		border-radius: 	5px;
		
		@include laptop{
			width: 70%;
		}
		@include mobile{
    		width: 95%;
    	}
		@include mobile-por{
    		width: 100%;
    		flex-direction: column;
    		margin: 0;
    	}

		.img-profil{
			width: 150px;
			height: 150px;
			margin: 0;
			border: 2px solid #000;
		}
		
		.profil_box__photo{
			margin: 1em 2em;
		}

		.profil_box__text{
		    text-align: left;
			display: flex;
			flex-direction: column;
			align-self: flex-start;
			width: 65%;
			padding-top: 20px;

			@include mobile-por{
				margin-left: 1em;
			}

			.profil_box__header{
				align-items: center;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				h2{
					margin: 0;
				}
			}
			
			.profil_box__nb{ 	
				align-items: center;
				display: flex;
				flex-direction: row;
				margin-top: 0.3em;
			}

			.profil_box__desc{
				margin:0 0 1.5em 0;
			}

			.profil_box__nbfollow{
				margin-left: 20%;
			}

			.profil_box__email{
				margin: 0.5em 0;
			}

		}

		button.follow_btn{
			font-size: 1.1em;
			margin: 1.5em;
		}
	}

	.delete_button{
		cursor: pointer;
		.logo{
			width: 20px;
			height: 20px;
			margin: 10px;
		}
	}
}



