@import 'mixins';

.content-box{
	width: 70%;
	height: 230px;
	background: powderblue;
}

.upload_post{
	.overlay{
		z-index: 3;
	}
	.upload{
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	    justify-content: space-between;
		width: 70%;
		top: 8%;
		bottom: 8%;
		z-index: 4;
		h1{
			width: 80%;
			margin: 4px 0;
		}
		.content--tag{
			h4{
				margin: 0;
			}
			width: 90%;
			margin:0;
		}
		.form{
			margin: 0;
			width: 90%;
			p{
				margin: 8px;
			}
			.field-contact{
				margin: 5px;
			}
			.form-btn{
				width: 80px;
			}
		}
	}	
}

.tagList{
    width: 100%;
    margin: 10px 0;
}

@include tablet{
	.upload{
		width: 80%;
		h1{
			font-size: 20px;
		}
			h4{
				font-size: 14px;
			}
	}
}
@include mobile-por{
	.upload{
        width: 90%;
		top: 0;
		bottom: 0;
		position: relative;
		.content--tag{
			.content-box{
				width: 100%;
			}
			.tagList{
				width: 100%;				
				.tag-btn{
				    width: 100%;
				}
			}
		}
		.form{
			.field-contact{
				width: 100%;
			}
		}
	}
}