@import 'mixins';

.content-box{
	width: 70%;
	height: 230px;
	background: powderblue;
}

.upload_post{
	.upload{
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	    justify-content: flex-start;
		width: 45%;
		
		bottom: 8%;
		z-index: 5;
		h1{
			width: 80%;
			margin: 10px 15p;
			margin-top: 15px;
			margin-bottom: 22px;
			
		}
		.content--tag{
			h4{
				margin: 0;
			}
			width: 90%;
			margin:0;
		}
		.form{
			margin: 0;
			width: 120%;
			p{
				margin: 8px;
			}
			.field-contact{
				margin: 5px;
			}
			
			.form-btn{
				width: 80px;
			}
		}
	}
}

.tagList{
    width: 110%;
    margin-left: -5%;
    margin: 10px 0;
	margin-bottom: 5px;
    margin-top: 8px;
}
.up-content-file{
	margin-bottom: 10px;
	input{
	   	width: 0.1;
	   	height: 0.1;
		opacity: 0;
		overflow: hidden;
		position: absolute;
		z-index: -1;
	}
	label {
	    font-size: 15px;
	    font-weight: 500;
	    font-family: inherit;
	    color: $blockBackgroundColor;
	    background-color: $blueNight;
	    border-radius: 4px;
	    padding: 3px;
	    cursor: pointer;
	    display: inline-block;
	}

	label:hover {
	    background-color: $blockBackgroundColor;
	    color: $blueNight;
	}
}
@include tablet{
	.upload{
		width: 80%;
		h1{
			font-size: 20px;
		}
			h4{
				font-size: 14px;
			}
	}
}

@include mobile{
	.upload_post{
		.upload{
	        width: 90%;
	    }
    }
}

@include mobile-por{
	.upload{
		top: 0;
		bottom: 0;
		position: relative;
		.content--tag{
			.content-box{
				width: 100%;
			}
			.tagList{
				width: 100%;				
				.tag-btn{
				    width: 100%;
				}
			}
		}
		
	}
}