@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
@import 'constantes';
@import 'pages';

html, body{
	margin:0;
	background-color : $blockBackgroundColor;
	font-family: 'Montserrat';
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	background-color: rgba(0, 0, 0, 0.2);
	overflow: hidden;
}
a{
	color: #000;
	text-decoration: none;
	&:hover{
		text-decoration:none;
		color: inherit;
	}
}
li{
	list-style: none;
}
